.container {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-about-background);

  .socialIcons {
    font-size: 2rem;
    color: var(--color-title);
    display: flex;
    gap: 1rem;
    margin-top: 7rem;

    :nth-child(n) {
      &:hover {
        color: var(--color-primary);
        cursor: pointer;
      }
    }
  }
  p {
    width: 35%;
    text-align: center;
    color: var(--color-paragraph);
  }
  .title {
    position: relative;
    display: flex;
    justify-content: center;

    .circle {
      height: 6.25rem;
      width: 6.25rem;
      margin-top: 1rem;
      background-color: var(--color-primary);
      position: absolute;
      border-radius: 50%;
    }
    h1 {
      font-size: 2.813rem;
      color: var(--color-title);
      z-index: 2;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.backToTop {
  position: absolute;
  border-radius: 50%;
  bottom: 3rem;
  right: 5rem;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-back-top-button);

  color: var(--color-back-top-icon);
  font-size: 1.2rem;
}
