.container {
  padding: 8% 10%;
  background: var(--color-about-background);
}

.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.3rem;

  margin-top: 3rem;
}

.title {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  h1 {
    color: var(--color-title);
    margin: 0;
  }

  h3 {
    color: var(--color-subtitle);
    margin-bottom: 7px;
  }
}

@media only screen and (max-width: 1023px) {
  .container {
    padding: 35% 6%;
    background: var(--color-about-background);
  }

  .projectsContainer {
    gap: 1.3rem;

    margin-top: 2rem;
  }

  .title {
    display: block;

    h3 {
      margin: 0.2rem 0;
    }
  }
}
