.container {
  position: relative;
}
.arrowRightSM,
.arrowRightLG {
  display: flex;
  margin-top: 1rem;
  height: calc(100% - 2rem);
  align-items: center;
  justify-content: center;
  position: absolute;
  color: var(--color-project-text);

  border-radius: 0.6rem 0rem 0rem 0.6rem;

  right: 0;

  background: linear-gradient(
    95.95deg,
    rgba(37, 37, 37, 0.1) 4.49%,
    #252525 100%
  );

  z-index: 999;

  &:hover {
    cursor: pointer;
  }
}

.arrowRightSM {
  width: 14.3%;
}

.arrowRightLG {
  width: 4.6%;
  min-width: 70px;
}

@media only screen and (min-width: 350px) and (max-width: 768px) {
  .arrowRightSM {
    width: 16%;
  }

  .arrowRightLG {
    width: 14%;
    min-width: 46px;
  }
}

.slideContainer {
  display: flex;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow: hidden;
  position: relative;

  padding: 1rem 0rem;
  padding-left: 1rem;
}
