.container {
  height: 100vh;
  padding: 0 10%;
  position: relative;
  background-image: var(--banner-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titleLightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;

  .imageWrapper {
    position: relative;
    width: 14.5rem;
    height: 14.5rem;
    z-index: 0;
  }

  .titleLightWrapper {
    color: var(--color-title);
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold 900;
    margin-top: -9.7rem;
    margin-bottom: 5rem;
    z-index: 1;

    h1:nth-child(2) {
      margin-top: -20px;
    }

    h1 {
      font-weight: 900;
    }
  }
}

.titleDarkContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  color: var(--color-title);

  .titleDarkWrapper {
    h1 {
      font-size: 3.75rem;
      margin: 0px;
      font-weight: 900;
    }
  }

  .subtitleDarkWrapper {
    display: flex;
    align-items: flex-end;
    gap: 7rem;
    margin-top: 3.5rem;

    p {
      margin: 0;
      font-size: 1.1rem;
      width: 23rem;
    }
  }
}

.slideWrapper {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 2rem;
  right: 0;

  p {
    margin-right: 2rem;
    width: 17rem;
    color: var(--color-paragraph);
  }

  .slide {
    width: 334px;
  }
}

.socialIcons {
  font-size: 2rem;
  color: var(--color-title);
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 3rem;

  :nth-child(n) {
    &:hover {
      color: var(--color-primary);
      cursor: pointer;
    }
  }
}

.header {
  padding-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.themeHandler {
  font-size: 27px;
  color: var(--color-theme-icon);
  cursor: pointer;
}
