.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  color: var(--color-title);
  font-weight: 700;
  width: fit-content;
  span {
    margin-left: -50px;
    margin-right: 10px;
    z-index: 1;
  }

  &:hover {
    .block {
      min-width: 95px;
    }
  }
}
.block {
  min-width: 80px;
  padding: 1rem 1rem;
  border-radius: 0px 4px;
  clip-path: polygon(12% 0, 100% 0, 86% 100%, 0% 100%);
  background-color: var(--color-primary);

  transition: all 0.3s ease-in-out;
}
